<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice">
	
	<!-- 총 게시물 수 -->
	<select id="getTotalCount" resultType="int">
		select COUNT(*) from notice
	</select>
	
	<!-- 공지사항 목록 -->
	<select id="getNoticeList" resultType="com.aesop.domain.Notice">
		select * from notice order by regdate desc
	</select>
	
	<!-- 공지사항 상세 보기 -->	
	<select id="getNotice" parameterType="int" resultType="com.aesop.domain.Notice">
		select * from notice where no=#{no}
	</select>
	
	<!-- 공지사항 등록 -->
 	<insert id="insNotice" parameterType="com.aesop.domain.Notice">
        INSERT INTO notice (no, title, content, img1, img2, img3, img4, img5, name, hit, regDate) 
        VALUES (default, #{title}, #{content}, #{img1}, #{img2}, #{img3}, #{img4}, #{img5}, default, default, default)
    </insert>
	
	 <update id="upNotice" parameterType="com.aesop.domain.Notice">
        UPDATE notice 
        SET title = #{title}, 
            content = #{content}, 
            img1 = #{img1}, 
            img2 = #{img2}, 
            img3 = #{img3}, 
            img4 = #{img4}, 
            img5 = #{img5}
        WHERE no = #{no}
    </update>
	
	<!-- 공지사항 조회수 증가 -->
	<update id="hitCount" parameterType="int">
		update notice set hit=hit+1 where no=#{no}
	</update>
	
	<!-- 공지사항 삭제 -->
	<delete id="delNotice" parameterType="int">
		delete from notice where no=#{no}
	</delete>
</mapper>